<footer id="footer" class="site-footer" role="contentinfo">
  <div class="g-span-1_1">
    <nav class="nav nav-inline" role="navigation" aria-label="Footer links">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="{{ exporter.root_path }}/sitemap-{{ page_content.language }}.html" accesskey="3">Sitemap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.epfl.ch/accessibility.en.shtml">Accessibility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  title="Legal notice Legal notice" href="http://mediacom.epfl.ch/disclaimer-en">Legal notice</a>
        </li>
        {% for link in site.footer[page_content.language] %}
        <li class="nav-item">
          <a class="nav-link"  title="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a>
        }
        </li>
        {% endfor %}
        <li class="visuallyhidden">
          <a class="nav-link"  title="Jump to: Top of the page" href="#top">Top of the page</a>
        </li>
        <li class="nav-item secondary-content">
          Updated&nbsp;{{ page_content.last_update }}
        </li>
        <li class="nav-item secondary-content"> &copy; <span itemprop="copyrightHolder">EPFL</span> <span itemprop="copyrightYear">2017</span></li>
      </ul>
    </nav>
  </div>
</footer>