<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7 lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8 lt-ie10 lt-ie9"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="no-js"><!--<![endif]-->
<head>
  <title>{{ page.title}}</title>
  <meta charset="utf-8" />
  <meta name="description" content="" />

  <!-- include http://static.epfl.ch/latest/includes/head-links.html -->
  <!-- build:remove:release -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" data-header-version="0.23.0" />
  <link rel="shortcut icon" type="image/x-icon" href="//static.epfl.ch/v0.23.0/favicon.ico" />
  <link rel="icon" type="image/png" href="//static.epfl.ch/v0.23.0/favicon.png" />
  <link rel="stylesheet" href="//static.epfl.ch/v0.23.0/styles/epfl-built.css"/>
  <!-- /build -->

  <!-- include http://static.epfl.ch/latest/includes/head-scripts.html -->
  <!-- build:remove:release -->
        <!--[if lt IE 9]>
  <link id="respond-proxy" rel="respond-proxy" href="//static.epfl.ch/v0.23.0/includes/respond-proxy.html" />
  <script src="//static.epfl.ch/v0.23.0/scripts/ie-built.js"></script>
  <![endif]-->


  <!-- /build -->

</head>
<body>

  <div id="page" class="site site-wrapper" itemscope itemtype="http://schema.org/WebPage">

    <!-- The minimal EPFL header -->
    <header id="epfl-header" class="site-header epfl" role="banner" aria-label="Global EPFL banner" data-ajax-header="//static.epfl.ch/v0.23.0/includes/epfl-header.en.html">

      <!-- The EPFL logo -->
      <div class="logo">
        <a href="http://www.epfl.ch">
          <span class="visuallyhidden">EPFL Homepage</span>
          <object type="image/svg+xml" class="logo-object" data="//static.epfl.ch/v0.23.0/images/logo.svg">
            <img alt="EPFL Logo" width="95" height="46" src="//static.epfl.ch/v0.23.0/images/logo.png" />
          </object>
        </a>
      </div>

      <!-- The search form -->
      <div class="search search-simple">
        <a href="#search" class="icon icon-magnifier" data-widget="toggle">
          <span class="visuallyhidden">Search</span>
        </a>
        <div id="search" role="search">
          <form id="search-form" class="form form-inline" action="//search.epfl.ch/web.action">
            <div class="form-input-group">
              <div class="form-input">
                <label class="visuallyhidden" for="search-query">Search query</label>
                <input id="search-query" class="search-query" type="text" placeholder="search query" name="q" accesskey="4" />
              </div>
              <div class="form-input form-input-mini">
                <button class="themed search-submit" type="submit">
                  <span class="icon icon-magnifier"></span><span class="visuallyhidden">Search</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </header>

      <div>
        <h1>{{ page.title }}</h1>
  {% for box in page.boxes %}
  <h2>{{ box.title }}</h2>
  <div>
      {{ box.content|safe }}
  </div>
  {% endfor %}
      </div>

    <!-- The site footer -->
    <br/>
    <footer id="footer" class="site-footer" role="contentinfo">
      <div class="g-span-1_1">
        <nav class="nav nav-inline" role="navigation" aria-label="Footer links">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="/sitemap.html" accesskey="3">Sitemap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.epfl.ch/accessibility.en.shtml">Accessibility</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  title="Legal notice Legal notice" href="http://mediacom.epfl.ch/disclaimer-en">Legal notice</a>
            </li>
            <li class="visuallyhidden">
              <a class="nav-link"  title="Jump to: Top of the page" href="#top">Top of the page</a>
            </li>
            <li class="nav-item secondary-content">
              Updated&nbsp;{{ page.last_update }}
            </li>
            <li class="nav-item secondary-content"> &copy; <span itemprop="copyrightHolder">EPFL</span> <span itemprop="copyrightYear">2017</span></li>
          </ul>
        </nav>
      </div>
    </footer>

  </div>

  <!-- Footer scripts -->
  <!-- include http://static.epfl.ch/latest/includes/foot-scripts.html -->
  <!-- build:remove:release -->

  <script src="//static.epfl.ch/v0.23.0/scripts/epfl-jquery-built.js"></script>
  <!-- /build -->
  <script>
    require(["epfl-jquery"], function($){
      "use strict";

      // Custom scripts

      $(function() {
        // Custom scripts to execute after the document has fully loaded
      });

    });
  </script>

</body>
</html>