
<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7 lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8 lt-ie10 lt-ie9"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="no-js"><!--<![endif]-->
<head>
  <title>{{ page.title}}</title>
  <meta charset="utf-8" />
  <meta name="description" content="" />

  <!-- include http://static.epfl.ch/latest/includes/head-links.html -->
  <!-- build:remove:release -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" data-header-version="0.23.0" />
  <link rel="shortcut icon" type="image/x-icon" href="//static.epfl.ch/v0.23.0/favicon.ico" />
  <link rel="icon" type="image/png" href="//static.epfl.ch/v0.23.0/favicon.png" />
  <link rel="stylesheet" href="//static.epfl.ch/v0.23.0/styles/epfl-built.css"/>
  <link rel="stylesheet" href="{{ site.css_url }}"/>

  <!-- /build -->

  <!-- include http://static.epfl.ch/latest/includes/head-scripts.html -->
  <!-- build:remove:release -->
        <!--[if lt IE 9]>
  <link id="respond-proxy" rel="respond-proxy" href="//static.epfl.ch/v0.23.0/includes/respond-proxy.html" />
  <script src="//static.epfl.ch/v0.23.0/scripts/ie-built.js"></script>
  <![endif]-->


  <!-- /build -->

</head>
<body>

  <!-- Accessible quick navigation links -->
  <nav class="a11y" role="navigation" aria-label="Quick navigation links">
    <a class="visuallyhidden focusable" href="#content" accesskey="c">Skip to content</a>
    <a class="visuallyhidden focusable" href="#main-navigation" accesskey="n">Skip to navigation</a>
  </nav>

  <div id="page" class="site site-wrapper" itemscope itemtype="http://schema.org/WebPage">

    <!-- The minimal EPFL header -->
    <header id="epfl-header" class="site-header epfl" role="banner" aria-label="Global EPFL banner" data-ajax-header="//static.epfl.ch/v0.23.0/includes/epfl-header.en.html">

      <!-- The EPFL logo -->
      <div class="logo">
        <a href="http://www.epfl.ch">
          <span class="visuallyhidden">EPFL Homepage</span>
          <object type="image/svg+xml" class="logo-object" data="//static.epfl.ch/v0.23.0/images/logo.svg">
            <img alt="EPFL Logo" width="95" height="46" src="//static.epfl.ch/v0.23.0/images/logo.png" />
          </object>
        </a>
      </div>

      <!-- The search form -->
      <div class="search search-simple">
        <a href="#search" class="icon icon-magnifier" data-widget="toggle">
          <span class="visuallyhidden">Search</span>
        </a>
        <div id="search" role="search">
          <form id="search-form" class="form form-inline" action="//search.epfl.ch/web.action">
            <div class="form-input-group">
              <div class="form-input">
                <label class="visuallyhidden" for="search-query">Search query</label>
                <input id="search-query" class="search-query" type="text" placeholder="search query" name="q" accesskey="4" />
              </div>
              <div class="form-input form-input-mini">
                <button class="themed search-submit" type="submit">
                  <span class="icon icon-magnifier"></span><span class="visuallyhidden">Search</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </header>

    <!-- The site header -->
    <header id="header" class="site-header">

      <!-- The site title -->
      <h1 class="site-title" itemprop="isPartOf" itemscope itemtype="http://schema.org/CollectionPage">
        <a href="/" itemprop="url" accesskey="1" rel="home">
          <span itemprop="name">
              {{ site.title }} <abbr>{{ site.acronym}}</abbr>
          </span>
        </a>
      </h1>

      <!-- The breadcrumb navigation -->
      <nav class="nav nav-inline bcnav" role="navigation" itemprop="breadcrumb" aria-label="Breadcrumb navigation">
        <ol class="nav-list">
          <li class="nav-item" itemprop="sourceOrganization" itemscope itemtype="http://schema.org/CollegeOrUniversity">
            <a class="nav-link" href="http://www.epfl.ch" itemprop="url"><span itemprop="name">EPFL</span></a>
          </li>
            <!-- TODO
          <li class="nav-item">
            <a class="nav-link" href="...">Parent page</a>
          </li>
          -->
          <li class="nav-item nav-item-active">
            <a class="nav-link" href="{{ page.url }}">{{ page.title}}</a>
          </li>
        </ol>
      </nav>

      <!-- The language selector -->
      <nav class="nav nav-inline lang" role="navigation" aria-label="Language selector">
        <ul class="nav-list">
          <li class="nav-item nav-item-active">
            <a class="nav-link" href="..." lang="en">
              <span class="visuallyhidden">Current language: </span>
              <span class="visuallyhidden-xxs visuallyhidden-xs">English</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="..." lang="fr" ref="alternate">
              <span class="visuallyhidden">Passer au : </span>
              <span class="visuallyhidden-xxs visuallyhidden-xs">français</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- The main/horizontal navigation -->
      <div class="mainnav">
        <a id="main-navigation-label" class="hidden visible-xxs visible-xs" href="#main-navigation" data-widget="collapse">Main navigation</a>

        <nav id="main-navigation" class="nav nav-block nav-horizontal themed visible-s visible-m visible-l visible-xl visible-xxl" role="navigation" aria-labelledby="main-navigation-label">
          <ul class="nav-list" data-widget="menubar">
            <li class="nav-item hidden-xxs hidden-xs">
              <a class="nav-link" href="/">
                <span class="hidden-xxs hidden-xs icon icon-inline icon-big icon-home" role="presentation" hidden="hidden"></span>
                <span class="hidden-s hidden-m hidden-l hidden-xl hidden-xxl">Homepage</span>
              </a>
            </li>
              {{ exporter.navigation|safe }}
              <!-- TODO the navigation
            <li class="nav-item">
              <span class="nav-link" data-widget="collapse">Menu 1 [dropdown]</span>
              <ul class="nav-list nav-vertical" data-widget="menu" data-items=".nav-link">
                <li class="nav-item">
                  <a class="nav-link" href="...">Menu 1.1</a>
                  <ul class="nav-list">
                    <li class="nav-item">
                      <a class="nav-link" href="...">Menu 1.1.1</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="...">Menu 2 [combo]</a>
              <span data-widget="collapse"></span>
              <ul class="nav-list nav-vertical" data-widget="menu" data-items=".nav-link">
                <li class="nav-item">
                  <a class="nav-link" href="...">Menu 2.1</a>
                  <ul class="nav-list">
                    <li class="nav-item">
                      <a class="nav-link" href="...">Menu 2.1.1</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="...">Menu 3 [combo]</a>
              <span data-widget="collapse"></span>
              <ul class="nav-list nav-vertical" data-widget="menu">
                <li class="nav-item">
                  <a class="nav-link" href="...">Menu 3.1</a>
                  <span data-widget="collapse"></span>
                  <ul class="nav-list" data-widget="menu">
                    <li class="nav-item">
                      <a class="nav-link" href="...">Menu 3.1.1</a>
                      <span data-widget="collapse"></span>
                      <ul class="nav-list" data-widget="menu">
                        <li class="nav-item">
                          <a class="nav-link" href="...">Menu 3.1.1.1</a>
                          <span data-widget="collapse"></span>
                          <ul class="nav-list" data-widget="menu">
                            <li class="nav-item">
                              <a class="nav-link" href="...">Menu 3.1.1.1.1</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="...">Menu 3.1.2</a>
                      <span data-widget="collapse"></span>
                      <ul class="nav-list" data-widget="menu">
                        <li class="nav-item">
                          <a class="nav-link" href="...">Menu 3.1.2.1</a>
                          <span data-widget="collapse"></span>
                          <ul class="nav-list" data-widget="menu">
                              <li class="nav-item">
                                  <a class="nav-link" href="...">Menu 3.1.2.1.1</a>
                              </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="...">Menu 3.2</a>
                   <span data-widget="collapse"></span>
                   <ul class="nav-list" data-widget="menu">
                      <li class="nav-item">
                          <a class="nav-link" href="...">Menu 3.2.1</a>
                          <span data-widget="collapse"></span>
                          <ul class="nav-list" data-widget="menu">
                            <li class="nav-item">
                              <a class="nav-link" href="...">Menu 3.2.1.1</a>
                              <span data-widget="collapse"></span>
                              <ul class="nav-list" data-widget="menu">
                                  <li class="nav-item">
                                      <a class="nav-link" href="...">Menu 3.2.1.1.1</a>
                                  </li>
                              </ul>
                             </li>
                          </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="...">Menu 3.2.2</a>
                        <span data-widget="collapse"></span>
                        <ul class="nav-list" data-widget="menu">
                            <li class="nav-item">
                              <a class="nav-link" href="...">Menu 3.2.2.1</a>
                              <span data-widget="collapse"></span>
                              <ul class="nav-list" data-widget="menu">
                                 <li class="nav-item">
                                     <a class="nav-link" href="...">Menu 3.2.2.1.1</a>
                                 </li>
                              </ul>
                            </li>
                        </ul>
                      </li>
                   </ul>
                </li>
              </ul>
            </li>
          -->
          </ul>
        </nav>

      </div>

      <!-- The tools bar -->
      <div id="tools" class="tools">
        <div role="toolbar" aria-label="Page tools">
          <span class="secondary-content" data-role="label">Share:</span>
        </div>
      </div>

    </header>

    <!-- The page content -->
    <main id="content" role="main" class="site-content page page-wrapper" itemprop="mainEntityOfPage">

      <!-- The main column -->
      <div class="g-span-2_3 g-span-s-1_1">

        <!-- The page header -->
        <header class="page-header">
          <h1 class="page-title">{{ page.title}}</h1>
        </header>

        <!-- The page content -->
        <div class="page-content">
          {% for box in page.boxes %}
            {% if box.title != None %}
              <h2>{{ box.title }}</h2>
            {% endif %}
            {{ box.content|safe }}
          {% endfor %}

        </div>

        <!-- The page footer -->
        <footer class="page-footer">

        </footer>

      </div>

      <!-- The side bar -->
      <div class="g-span-1_3 g-span-s-1_1">
        <aside id="sidebar" class="sidebar" role="complementary">

          {% for box in site.sidebar.boxes %}
          <section class="panel">
            <div class="panel-header">
              {{ box.title }}
            </div>
            <div class="panel-content local-bg-color1">
              {{ box.content|safe }}
            </div>
          </section>
          {% endfor %}

        </aside>
      </div>

    </main>

    <!-- The site footer -->
    <footer id="footer" class="site-footer" role="contentinfo">
      <div class="g-span-1_1">
        <nav class="nav nav-inline" role="navigation" aria-label="Footer links">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="#header" accesskey="t">Back to top</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sitemap.html" accesskey="3">Sitemap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:webmaster@epfl.ch" accesskey="9">Webmaster</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://static.epfl.ch/latest/accessibility.en.html" accesskey="0"><meta itemprop="accessibilityAPI" content="ARIA"/>Accessibility</a>
            </li>
            <li class="nav-item secondary-content"> &copy; <span itemprop="copyrightHolder">EPFL</span> <span itemprop="copyrightYear">2017</span></li>
          </ul>
        </nav>
      </div>
    </footer>

  </div>

  <!-- Footer scripts -->
  <!-- include http://static.epfl.ch/latest/includes/foot-scripts.html -->
  <!-- build:remove:release -->

  <script src="//static.epfl.ch/v0.23.0/scripts/epfl-jquery-built.js"></script>
  <!-- /build -->
  <script>
    require(["epfl-jquery"], function($){
      "use strict";

      // Custom scripts

      $(function() {
        // Custom scripts to execute after the document has fully loaded
      });

    });
  </script>

</body>
</html>